@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
}

/* components */
nav {
  height: 76px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav img {
  margin-left: 30px;
}

nav .menuContainer {
  height: 76px;
}

nav .menuContainer ul {
  list-style: none;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .menuContainer ul li {
  padding: 0 20px;
  text-align: center;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  cursor: pointer;
}

nav .menuContainer ul li:hover {
  color: #FF6D24;
}

nav .menuContainer ul li .fa-chevron-down {
  margin-left: 10px;
}

nav .menuContainer ul .searchMenuElement {
  padding: 0 40px;
}

nav .menuContainer ul .searchMenuElement:hover {
  color: #000;
}

nav .menuContainer ul .searchMenuElement .fa-search {
  -webkit-transition: .2s;
  transition: .2s;
}

nav .menuContainer ul .searchMenuElement .fa-search:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  color: #FF6D24;
}

nav .menuContainer ul .orangeMenuElement {
  padding: 0 30px;
  background-color: #FF6D24;
  color: #fff;
}

nav .menuContainer ul .orangeMenuElement:hover {
  color: #fff;
}

nav .menuContainer ul .orangeMenuElement .fa-envelope {
  margin-right: 10px;
}

.splide {
  width: 100%;
  height: 40vh;
}

.splide .splide__arrows .splide__arrow {
  display: none;
}

.splide .splide__track .splide__list .splide__slide {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 30px;
}

.splide .splide__track .splide__list .splide__slide--firstSlide {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/bg1.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.splide .splide__track .splide__list .splide__slide--secondSlide {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/bg2.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.splide .splide__track .splide__list .splide__slide--thirdSlide {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/bg3.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.splide .splide__track .splide__list .splide__slide--fourthSlide {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/bg4.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/bg4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.brandingContainer {
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brandingContainer .brand {
  width: 12.5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brandingContainer .brand img {
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=style.css.map */