@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
}

/* components */
nav {
  height: 76px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav img {
  margin-left: 30px;
}

nav .menuContainer {
  height: 76px;
}

nav .menuContainer ul {
  list-style: none;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .menuContainer ul li {
  padding: 0 20px;
  text-align: center;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  cursor: pointer;
}

nav .menuContainer ul li:hover {
  color: #FF6D24;
}

nav .menuContainer ul li .fa-chevron-down {
  margin-left: 10px;
}

nav .menuContainer ul .searchMenuElement {
  padding: 0 40px;
}

nav .menuContainer ul .searchMenuElement:hover {
  color: #000;
}

nav .menuContainer ul .searchMenuElement .fa-search {
  -webkit-transition: .2s;
  transition: .2s;
}

nav .menuContainer ul .searchMenuElement .fa-search:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  color: #FF6D24;
}

nav .menuContainer ul .orangeMenuElement {
  padding: 0 30px;
  background-color: #FF6D24;
  color: #fff;
}

nav .menuContainer ul .orangeMenuElement:hover {
  color: #fff;
}

nav .menuContainer ul .orangeMenuElement .fa-envelope {
  margin-right: 10px;
}

.splide {
  width: 100%;
  height: 40vh;
}

.splide .splide__arrows .splide__arrow {
  display: none;
}

.splide .splide__pagination__page {
  border-radius: 0;
  width: 30px;
  margin: 5px 10px;
  height: 4px;
}

.splide .splide__track .splide__list .splide__slide {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 30px;
}

.splide .splide__track .splide__list .splide__slide--firstSlide {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/bg1.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.splide .splide__track .splide__list .splide__slide--secondSlide {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/bg2.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.splide .splide__track .splide__list .splide__slide--thirdSlide {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/bg3.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.splide .splide__track .splide__list .splide__slide--fourthSlide {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/bg4.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/bg4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.brandingContainer {
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #ddd;
}

.brandingContainer .brandingElement {
  width: 12.5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brandingContainer .brandingElement img {
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.informationsContainer {
  width: 100%;
}

.informationsContainer .informationsContent {
  width: 50%;
  min-width: 1000px;
  margin: 60px auto;
}

.informationsContainer .informationsContent .informationsTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.informationsContainer .informationsContent .informationsTextContainer .informationTextContentLeft {
  width: 35%;
  min-width: 336px;
}

.informationsContainer .informationsContent .informationsTextContainer .informationTextContentLeft .informationTextUpperTitle {
  color: #ba03fc;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.informationsContainer .informationsContent .informationsTextContainer .informationTextContentRight {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.informationsContainer .informationsContent .informationsTextContainer .informationTextContentRight .informationText {
  color: #555;
  padding: 15px 0 15px 60px;
  font-weight: 600;
  font-size: 11.5px;
  line-height: 2;
}

.informationsContainer .informationsContent .informationsSquaresContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.informationsContainer .informationsContent .informationsSquaresContainer .informationsSquareElement {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3% - 30px);
          flex: 0 0 calc(33.3% - 30px);
  height: 240px;
  position: relative;
  text-align: center;
  color: #fff;
  border-radius: 2px;
}

.informationsContainer .informationsContent .informationsSquaresContainer .informationsSquareElement--first {
  margin-right: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(79, 120, 129, 0.4)), to(rgba(79, 120, 129, 0.4))), url("../img/sqrBg1.png");
  background: linear-gradient(rgba(79, 120, 129, 0.4), rgba(79, 120, 129, 0.4)), url("../img/sqrBg1.png");
}

.informationsContainer .informationsContent .informationsSquaresContainer .informationsSquareElement--second {
  margin: 0 15px;
  background-color: #262050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.informationsContainer .informationsContent .informationsSquaresContainer .informationsSquareElement--second .informationsSquareContentText {
  color: #ddd;
  font-size: 13px;
  line-height: 1.5;
  padding: 32px 32px 10px 32px;
}

.informationsContainer .informationsContent .informationsSquaresContainer .informationsSquareElement--second .informationsSquareLink {
  color: #019aff;
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.informationsContainer .informationsContent .informationsSquaresContainer .informationsSquareElement--second .informationsSquareLink:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  color: #038be6;
}

.informationsContainer .informationsContent .informationsSquaresContainer .informationsSquareElement--third {
  margin-left: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(79, 120, 129, 0.4)), to(rgba(79, 120, 129, 0.4))), url("../img/sqrBg2.png");
  background: linear-gradient(rgba(79, 120, 129, 0.4), rgba(79, 120, 129, 0.4)), url("../img/sqrBg2.png");
}

.informationsContainer .informationsContent .informationsSquaresContainer .informationsSquareElement .informationsSquareTitle {
  font-weight: 700;
  font-size: 27px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-shadow: 1px 1px 2px black;
}

.informationsContainer .informationsContent .informationsSquaresContainer .informationsSquareElement .informationsSquareCountText {
  position: absolute;
  right: 20px;
  bottom: 10px;
  opacity: .4;
  font-size: 70px;
}

/*

    colors:

        1st bg
            //#f2f2f2
            //#fff

        2nd bg
            //#fbf1ef

        title clr
            //#ba03fc

*/
/*# sourceMappingURL=style.css.map */