.contactContainer {
  display: flex;
  margin-top: 60px;
  min-height: 600px;

  .contactImgSide {
    width: 50%;
    background: url("../img/contactImg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contactFormContainer {
    width: 50%;
    background: #f7f7f7;
  }
}
