.domainsContainer {
  background: linear-gradient(rgb(251, 248, 237), rgb(251, 235, 247));
  font-family: map-get($map: $fonts, $key: font-1);

  .domainsContent {
    width: 1300px;
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .domainsTextContent {
      width: 400px;

      .domainsSubTitle {
        color: #e82183;
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 20px;
      }

      .domainsTitleText {
        color: #050748;
        font-size: 36px;
        margin-bottom: 30px;
      }

      .domainsContentText {
        color: #686699;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .domainsContentElements {
      width: calc(100% - 400px);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;

      .domainsElement {
        padding: 10px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--first {
          background: #70e4e8;
        }
        &--second {
          background: #f5eb92;
        }
        &--third {
          background: #a3ffe2;
        }
        &--fourth {
          background: #ffbd7a;
        }
        &--fifth {
          background: #e3ff8e;
        }
        &--sixth {
          background: #ffa0c6;
        }
        &--seventh {
          background: #f3a6ff;
        }
        &--eighth {
          background: #97ffaf;
        }
        &--ninth {
          background: #6cfffa;
        }
        &--tenth {
          background: #77bbff;
        }
        &--eleventh {
          background: #ffefd4;
        }
        &--twelfth {
          background: #7affdb;
        }
      }
    }
  }
}
