.informationsContainer {
    width: 100%;

    .informationsContent {
        width: 50%;
        min-width: 1000px;
        margin: 60px auto;

        .informationsTextContainer {
            display: flex;

            .informationTextContentLeft {
                width: 35%;
                min-width: 336px;

                .informationTextUpperTitle {
                    color: #ba03fc;
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                }
            }

            .informationTextContentRight {
                width: 65%;
                display: flex;
                justify-content: center;
                align-items: center;

                .informationText {
                    color: #555;
                    padding: 15px 0 15px 60px;
                    font-weight: 600;
                    font-size: 11.5px;
                    line-height: 2;
                }
            }
        }

        .informationsSquaresContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 40px;

            .informationsSquareElement {
                flex: 0 0 calc(33.3% - 30px);
                height: 240px;
                position: relative;
                text-align: center;
                color: #fff;
                border-radius: 2px;

                &--first {
                    margin-right: 30px;
                    background: linear-gradient(rgba(79, 120, 129, 0.4),rgba(79, 120, 129, 0.4)),
                    url('../img/sqrBg1.png');
                }

                &--second {
                    margin: 0 15px;
                    background-color: #262050;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .informationsSquareContentText {
                        color: #ddd;
                        font-size: 13px;
                        line-height: 1.5;
                        padding: 32px 32px 10px 32px;
                    }

                    .informationsSquareLink {
                        color: #019aff;
                        cursor: pointer;
                        transition: transform .2s ease-in-out;

                        &:hover {
                            transform: translateY(-2px);
                            color: #038be6;
                        }
                    }
                }

                &--third {
                    margin-left: 30px;
                    background: linear-gradient(rgba(79, 120, 129, 0.4),rgba(79, 120, 129, 0.4)),
                    url('../img/sqrBg2.png');
                }

                .informationsSquareTitle {
                    font-weight: 700;
                    font-size: 27px;
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
                }

                .informationsSquareCountText {
                    position: absolute;
                    right: 20px;
                    bottom: 10px;
                    opacity: .4;
                    font-size: 70px;
                }
            }
        }
    }
}