nav {
  height: 76px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: map-get($map: $fonts, $key: font-1);

  img {
    margin-left: 30px;
  }

  .menuContainer {
    height: 76px;

    ul {
      list-style: none;
      height: 76px;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        padding: 0 20px;
        text-align: center;
        height: 76px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        cursor: pointer;
        &:hover {
          color: #ff6d24;
        }

        .fa-chevron-down {
          margin-left: 10px;
        }
      }

      .searchMenuElement {
        padding: 0 40px;
        &:hover {
          color: #000;
        }

        .fa-search {
          transition: 0.2s;
          &:hover {
            transform: scale(1.15);
            color: #ff6d24;
          }
        }
      }

      .orangeMenuElement {
        padding: 0 30px;
        background-color: #ff6d24;
        color: #fff;
        &:hover {
          color: #fff;
        }

        .fa-envelope {
          margin-right: 10px;
        }
      }
    }
  }

  .fa-bars {
    position: absolute;
    top: 29px;
    right: 30px;
    font-size: 20px;
    color: #000;
    display: none;
    cursor: pointer;

    &:hover {
      color: #555;
    }
  }
}

.menuPhoneContainer {
  display: none;
}

/* RWD */
@media (max-width: 1290px) {
  .menuContainer {
    display: none;
  }

  .fa-bars {
    display: block !important;
  }

  .menuPhoneContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: -100vh;
    width: 100%;
    height: 100vh;
    background: #111;
    z-index: 10;
    transition: 0.5s;
    color: #fff;
    font-family: map-get($map: $fonts, $key: font-1);

    .fa-times {
      position: absolute;
      font-size: 30px;
      top: 40px;
      right: 40px;
      cursor: pointer;

      &:hover {
        color: #ddd;
      }
    }

    ul {
      list-style: none;
      padding-top: 50px;
      text-align: center;

      li {
        font-weight: 500;
        padding: 10px;
        font-size: 40px;
        cursor: pointer;

        &:hover {
          color: #ddd;
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .menuPhoneContainer {
    ul {
      li {
        font-size: 20px;
      }
    }
  }
}
