.splide {
    background: #f7f7f7;
    margin-bottom: 200px; //to del

    .splide__track {
        width: 85%;
        margin: 0 auto;

        .splide__list {
            .splide__slide {
                height: 70%;
                background: #f12321;
                margin: 50px;
            }
        }
    }

    .splide__pagination__page {
        display: none;
    }


}