.splide {
    width: 100%;
    height: 40vh;
    
    .splide__arrows {
        .splide__arrow {
            display: none;
        }
    }

    .splide__track {
        .splide__list {
            .splide__slide {
                height: 40vh;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 30px;

                &--firstSlide {
                    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url('../img/bg1.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &--secondSlide {
                    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url('../img/bg2.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &--thirdSlide {
                    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url('../img/bg3.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &--fourthSlide {
                    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url('../img/bg4.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }    
}