.technologiesContainer {
    width: 900px;
    margin: 10px auto 0 auto;

    .technologiesTitleText {
        font-size: 40px;
        z-index: 99;
        position: relative;
        font-weight: 700;
        text-align: center;
    
        &::after {
            content: '';                
            display: block;
            background: #ffc5b2;
            width: 283px;
            height: 10px;
            position: absolute;
            top: 33px;
            left: 162px;
            z-index: -1;
        }
    }

    .technologiesMenu {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        border-bottom: 2px solid #ccc;
        cursor: default;

        .technologiesMenuElement {
            display: inline-block;
            padding: 18px 15px;
            
            .active {
                color: #ff5b2e;
                border-bottom: 2px solid #ff5b2e;
            }

            a {
                text-decoration: none;
                margin-bottom: -2px;
                border: none;
                border-bottom: 2px solid #ccc;
                color: #111;
                padding: 10px 0 18px 0;
                background: transparent;
                font-size: 18px;
                font-weight: 600;
                width: 100%;
                cursor: pointer;
                transition: .15s;
            
                &:hover {
                    color: #ff5b2e;
                    border-bottom: 2px solid #ff5b2e;
                }
            }
        }
    }

    #technologiesContent {
        .technologiesContentElement {
            display: none;

            .technologiesTilesContainer {
                margin-top: 50px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-wrap: wrap;

                .technologyTile {
                    background: #f7f7f7;
                    border-radius: 12px;
                    padding: 15px;
                    width: 116px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        width: 67px;
                        height: 67px;
                    }

                    .technologyTitle {
                        padding: 10px 0;
                        font-weight: 500;
                    }
                }
            }
        }

        .active {
            display: block;
        }
    }
}