@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
$font-1: 'Montserrat';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-1;
}

/* components */
@import '_navBar';
@import '_slider';
@import '_branding';
@import '_informations';


/*

    colors:

        1st bg
            //#f2f2f2
            //#fff

        2nd bg
            //#fbf1ef

        title clr
            //#ba03fc

*/